/*positions can change if you use percentages instead of pixels*/

h1{
    position: absolute;
    left: 500px;
    top: 250px;
}

h2{
    position: absolute;
    left: 500px;
    top: 300px;    
}

h4{
    position: absolute;
    left: 1000px;
    top: 500px;    
}

h5{
    position: absolute;
    top: 250px;
}